config.yaml
config.ini
META.yml
Makefile
foo.txt
core
MANIFEST
*.swp
config.ini
*.swo
inc/
blib/
pm_to_blib
config.ini.dbg
perllocal.pod
.packlist
extlib/man/*
extlib/lib/perl5/x86_64-*/**/*.pm
extlib/lib/perl5/x86_64-*/**/*.so
extlib/lib/perl5/x86_64-*/**/*.bs
extlib/lib/perl5/x86_64-*/.meta/**/install.json
extlib/lib/perl5/x86_64-*/perllocal.pod
extlib/lib/perl5/x86_64-linux/auto/HTML/Parser/Parser.so
extlib/lib/perl5/x86_64-linux-gnu-thread-multi/auto/HTML/Parser/Parser.so
MANIFEST.bak
config.json
/Build
*.bak
/_build
