---
global:
  password: kogaidan
  mobileid: 5u9032kjsajlas_tw.ezweb.ne.jp
#   keywords:
#     - tokuhirom
#     - mogera
#   stopwords:
#     - tokuhirom31

plugin:
  - module: Component::IRCClient
    config:
      server: 127.0.0.1
      port: 252322
      nick: netwatcher
      desc: Net Watcher
      username: netwatcher
      # password: netwatch
      incode: utf-8

  - module: Component::HTTPD
    config:
      port: 5678

  - module: IRCCommand::TiarraLog
  - module: MessageBodyFilter::Clickable
    config:
      pocket_hatena: 1

