---
# global:
#   assets_dir: /usr/local/share/mobirc/assets
#   pid_fname: /var/run/mobirc-sample.pid
#   keywords:
#     - tokuhirom
#     - mogera
#   stopwords:
#     - tokuhirom31

plugin:
  - module: HTMLFilter::DoCoMoCSS
  - module: IRCCommand::TiarraLog
  - module: Authorizer::Cookie
    config:
      password: 1152
  - module: Authorizer::BasicAuth
    config:
      username: netwatcher
      password: 0721
  # - module: Authorizer::EZSubscriberID
  #   config:
  #     au_subscriber_id: 25253252_oe.ezweb.ne.jp
  - module: HTMLFilter::ConvertPictograms
  - module: MessageBodyFilter::Clickable
    config:
      au_pcsv: 0
      pocket_hatena: 1
      # http_link_string: $host$path
      # accept_schemes: [mailto, tel]
      # redirector: http://www.google.com/url?sa=D&q=
  - module: MessageBodyFilter::IRCColor
    config:
      # no_decorate: 0

  - module: Component::IRCClient
    config:
      server: 127.0.0.1
      port: 252322
      nick: netwatcher
      desc: Net Watcher
      username: netwatcher
      # password: netwatch
      incode: utf-8
      groups:
        subtech:
          - tokuhir
          - miyagawa
          - takesako
          - yappo
        initialJ:
          - jknaoya
          - jkondo
          - jagayama

  # - module: DocRoot
  #   config:
  #     root: /foo/

httpd:
  port: 5785
  title: mobirc
  lines: 40
  # root: /
  # recent_log_per_page: 40
  # charset: cp932
  # content_type: text/html; charset=Shift_JIS

