---
# global:
#   assets_dir: /usr/local/share/mobirc/assets
#   pid_fname: /var/run/mobirc-sample.pid
#   keywords:
#     - tokuhirom
#     - mogera

plugin:
  - module: App::Mobirc::Plugin::HTMLFilter::DoCoMoCSS
  - module: App::Mobirc::Plugin::IRCCommand::TiarraLog
  - module: App::Mobirc::Plugin::Authorizer::Cookie
    config:
      password: 1152
  - module: App::Mobirc::Plugin::Authorizer::BasicAuth
    config:
      username: netwatcher
      password: 0721
  # - module: App::Mobirc::Plugin::Authorizer::EZSubscriberID
  #   config:
  #     au_subscriber_id: 25253252_oe.ezweb.ne.jp
  - module: App::Mobirc::Plugin::HTMLFilter::ConvertPictograms
  - module: App::Mobirc::Plugin::MessageBodyFilter::Clickable
    config:
      au_pcsv: 0
      pocket_hatena: 1
      # http_link_string: $host$path
      # accept_schemes: [mailto, tel]
      # redirector: http://www.google.com/url?sa=D&q=
  - module: App::Mobirc::Plugin::MessageBodyFilter::IRCColor
    config:
      # no_decorate: 0

  - module: App::Mobirc::Plugin::Component::IRCClient
    config:
      server: 127.0.0.1
      port: 252322
      nick: netwatcher
      desc: Net Watcher
      username: netwatcher
      # password: netwatch
      incode: utf-8

# - module: App::Mobirc::Plugin::DocRoot
#   config:
#     root: /foo/

httpd:
  port: 5785
  title: mobirc
  lines: 40
  # recent_log_per_page: 40
  # charset: cp932
  # content_type: text/html; charset=Shift_JIS

