---
global:
  password: kogaidan
  mobileid: 5u9032kjsajlas_tw.ezweb.ne.jp
#   assets_dir: /usr/local/share/mobirc/assets
#   pid_fname: /var/run/mobirc-sample.pid
#   keywords:
#     - tokuhirom
#     - mogera
#   stopwords:
#     - tokuhirom31

plugin:
  - module: HTMLFilter::DoCoMoCSS

  - module: MessageBodyFilter::Clickable
    config:
      au_pcsv: 0
      pocket_hatena: 1
      # http_link_string: $host$path
      # accept_schemes: [mailto, tel]
      # redirector: http://www.google.com/url?sa=D&q=
  - module: MessageBodyFilter::IRCColor
    config:
      # no_decorate: 0

  # - module: DocRoot
  #   config:
  #     root: /foo/

  - module: Component::HTTPD
    config:
      port: 5679

  - module: ChannelPageParts
    config:
      template: irssi!

httpd:
  lines: 40
  # root: /

