<html>
<head><title>App::Mobirc::Plugin::GPS</title></head>
<meta http-equiv="Cache-Control" content="max-age=0" />                                                              
<meta name="robots" content="noindex, nofollow" />                                                                   
<body>
<h1>App::Mobirc::Plugin::GPS</h1>

[% IF mobile_agent.is_ezweb and mobile_agent.gps_compliant %]
    <!--
        device:gpsone does not support port number.
    -->
    [%- url = 'http://' _ req.header('Host') _ docroot _ 'channel/' _ channel_name _ '/gps_do' %]
[% ELSE %]
    [%- url = 'http://' _ req.header('Host') _ ':' _ port _ docroot _ 'channel/' _ channel_name _ '/gps_do' %]
[% END %]

<p>[% IF mobile_agent.gps_compliant %]GPS Compliant[% ELSE %]Not GPS Compliant[% END %]</p>

<p>
    [% USE HTMLMobileJp %]

    [% IF mobile_agent.is_non_mobile %]
        this is not a mobile phone.
    [% ELSE %]
        [% HTMLMobileJp.gps_a({
            carrier      => mobile_agent.carrier,
            is_gps       => mobile_agent.gps_compliant,
            callback_url => url,
        }) %]
            Send Location Information
        </a>
    [% END %]
</p>

</body>
</html>
