

html {
	background: #000;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	width: 314px;
	margin: 0;
	padding: 0 0 50px 0;

	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.66;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.even {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D9D9D9), to(#C2C2C2), color-stop(.6,#CCCCCC));
}

.odd {
	background: #fff;
}

ol.channels {
	margin: 0;
	padding: 0;
}

ol.channels li {
	margin: 0;
	padding: 0;
}

div.more a ,
ol.channels li a {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	padding: 15px;
	color: #333;
	text-shadow: 0 0 5px #999;
	white-space: nowrap;
}

ol.channels li a span.unread {
	position: absolute;
	right: 20px;
	top: 15px;
}

form div.input {
	padding: 5px;
}

form div.input input.text {
	width: 100%;
}

div.message {
	position: relative;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#000000), color-stop(.6,#111111));
	color: #fff;
}

div.message span.time {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	font-weight: bold;
	padding: 5px 0;
	color: #fff;
	text-shadow: 0 0 5px #999;
}

div.message div.body {
	margin: 0 50px 0 0;
}

div.message div.body img {
	display: block;
	margin: 5px auto;
}


div.message.join ,
div.message.leave {
}

div.message.notice,
div.message.public {
	font-weight: normal;
	padding: 10px;
	background: #fff;
}

div.message.notice span.who,
div.message.public span.who {
	display: block;
	font-weight: bold;
	margin: -10px -10px 0 -10px;
	padding: 5px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D9D9D9), to(#C2C2C2), color-stop(.6,#CCCCCC));
	color: #000000;
	text-shadow: 0 0 5px #999;
}

div.message.notice span.time,
div.message.public span.time {
	color: #666666;
}

div.message.public div.body ,
div.message.notice div.body {
	margin: 5px 0 0 0;
	color: #000;
}

img.loading {
	position: absolute;
	top: 12px;
	right: 10px;
}
