.even {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#222222), color-stop(.6,#333333));
	color: #fff;
}

.odd {
	background: #000;
	color: #fff;
}

div.message {
	position: relative;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#000000), color-stop(.6,#111111));
	color: #fff;
}

div.message span.time {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	color: #fff;
	text-shadow: 0 0 5px #999;
}

div.message span.body {
	margin: 0 50px 0 0;
}

div.message span.body img {
	display: block;
	margin: 5px auto;
}


div.message.join ,
div.message.leave {
}

div.message.notice,
div.message.public {
	font-weight: normal;
	padding: 10px;
	background: #000;
	color: #fff;
}

div.message.notice span.who,
div.message.public span.who {
	display: block;
	font-weight: bold;
	margin: -10px -10px 0 -10px;
	padding: 5px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#222222), color-stop(.6,#333333));
	color: #ffffff;
	text-shadow: 0 0 5px #333;
}

div.message.notice.new span.who,
div.message.public.new span.who {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#969696), to(#828282), color-stop(.6,#636363));
	color: #fff;
}

div.message.notice img.avatar ,
div.message.public img.avatar {
	float: right;
	margin: 5px 0 5px 10px;
	height: 32px;
}


div.message.notice span.time,
div.message.public span.time {
	color: #dddddd;
}

div.message.public span.body ,
div.message.notice span.body {
	min-height: 32px;
	margin: 5px 0 0 0;
}

