/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img { 
border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym { border:0;
}


/* page layout */

.clear-both { clear: both; }

#BodyWrapper {  }
#PageBody { overflow: hidden; } 
#PageBody #Main { float: left; overflow: hidden; } 
#PageBody #Main #Log { overflow: auto; width: 100%; margin-bottom: 10px; } 
#PageBody #Main #CommandForm { width: 100%; }
#PageBody #Main #CommandForm #msg { width: 90%; }
#PageBody #Main #CommandForm #SendButton { width: 9%; }
#PageBody #Side { padding-left: 5px; width : 25%; float: right; border-left: 1px solid #cccccc; margin-bottom: 3px; }
#PageBody #Side #NickContainer { overflow: auto; border-bottom: 1px solid #cccccc; }
#PageBody #Side #ChannelContainer { overflow: auto; }
#Footer { height: 20px; width:100% ; text-align: right; font-size: xx-small; border-top: 1px solid #cccccc; }
#Footer #FooterBody { padding-right: 10px; }

#PageBody #Side .channel { margin-bottom: 2px; width: 100%; }
#PageBody #Side .unread  { background-color: #99ffff; }
#PageBody #Side .current { background-color: #ff99ff; }
#PageBody #Side hr { margin-bottom: 3px }

